.deps
.libs
*.o
*.so
*.a

Makefile
Makefile.in
configure
config.h
config.guess
config.log
config.status
config.sub

aclocal.m4
install-sh
libtool
ltmain.sh
missing
depcomp
autom4te.cache

*~

data
*.log
